---

---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <div class="text-center">
      <h1 class="mb-20 text-3xl font-normal text-gray-300 md:mb-32 md:text-6xl lg:mb-48 lg:text-7xl">
        Please do not measure your skills in <br />
         percentages!
      </h1>

      <p class="text-xs font-medium text-gray-700 md:text-base">
        In my many years of experience, I use @laravel for backend projects and @vuejs for <br />
         front-end projects. I’m an avid programmer, so I create designs based on the <br />
         weekend @figmadesign.
      </p>
    </div>
  </div>
</section>
