---
import { Image } from 'astro:assets';
import meImage from '@/images/me.jpeg';
---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <div class="text-center">
      <div class="mb-16 flex justify-center">
        <Image src={meImage} alt="Me" class="h-40 w-40 rounded-full md:h-52 md:w-52" />
      </div>

      <h6 class="mb-8 text-lg font-medium uppercase text-gray-600 md:text-2xl">Marek Sokol</h6>

      <h1 class="mb-8 text-4xl font-normal leading-none text-gray-900 md:text-7xl">Web Developer</h1>

      <p class="text-md mb-16 font-normal text-gray-600 md:text-xl">
        I have a passion for software. I enjoy creating tools that make life easier for people.
      </p>
    </div>
  </div>
</section>
