---
import { Icon } from 'astro-icon';
---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <div class="text-block md:mx-auto md:w-4/5">
      <p class="text-base font-normal text-gray-500 md:text-lg">
        Welcome to my personal website. I am Marek Sokol, a software engineer with a passion for web development and
        open source, based in Ostrava, Czech Republic.
        <Icon name="emojione-v1:flag-for-czechia" class="inline-block h-4 w-4" />
      </p>
    </div>
  </div>
</section>
