---
const jobs = [
  {
    company: 'Massa Fames',
    place: 'New York',
    position: 'Junior Front-End Developer',
    year: '2016',
  },
  {
    company: 'Massa Fames',
    place: 'New York',
    position: 'Junior Front-End Developer',
    year: '2016',
  },
  {
    company: 'Massa Fames',
    place: 'New York',
    position: 'Junior Front-End Developer',
    year: '2016',
  },
  {
    company: 'Massa Fames',
    place: 'New York',
    position: 'Junior Front-End Developer',
    year: '2016',
  },
  {
    company: 'Massa Fames',
    place: 'New York',
    position: 'Junior Front-End Developer',
    year: '2016',
  },
];
---

<section class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Experience</h1>

    <p class="font-normal text-gray-500 text-xs md:text-base mb-20">Below is a summary of the places I studied</p>

    <div class="flex flex-col lg:flex-row justify-between">
      <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
        <h6 class="font-medium text-gray-400 text-base uppercase">Company</h6>

        {
          jobs.map(({ company, place }) => (
            <p class="font-semibold text-gray-600 text-base">
              {company}
              <span class="font-normal text-gray-300"> / {place}</span>
            </p>
          ))
        }
      </div>

      <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
        <h6 class="font-medium text-gray-400 text-base uppercase">Position</h6>

        {jobs.map(({ position }) => <p class="font-normal text-gray-400 text-base">{position}</p>)}
      </div>

      <div class="space-y-8 md:space-y-16">
        <h6 class="font-medium text-gray-400 text-base uppercase">Year</h6>

        {jobs.map(({ year }) => <p class="font-normal text-gray-400 text-base">{year}</p>)}
      </div>
    </div>
  </div>
</section>
