---
const portfolio = [
  {
    slug: '01',
    title: 'Demo API Generator',
    description:
      'A dummy data free and documented API generator to facilitate <br /> the process of testing the front-end portion of projects.',
  },
  {
    slug: '02',
    title: 'Demo API Generator',
    description:
      'A dummy data free and documented API generator to facilitate <br /> the process of testing the front-end portion of projects.',
  },
  {
    slug: '03',
    title: 'Demo API Generator',
    description:
      'A dummy data free and documented API generator to facilitate <br /> the process of testing the front-end portion of projects.',
  },
];
---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <div class="flex flex-col justify-between lg:flex-row">
      <div class="mb-10 lg:mb-0">
        <h1 class="mb-5 text-3xl font-medium text-gray-700 md:text-4xl">Portfolio</h1>

        <p class="text-xs font-normal text-gray-500 md:text-base">
          I have brought here my biggest and favorite works <br />
           as a professional.
        </p>
      </div>

      <div class="space-y-24">
        {
          portfolio.map(({ slug, title, description }) => (
            <div class="flex space-x-6">
              <h1 class="text-3xl font-normal text-gray-700 md:text-4xl">{slug}</h1>

              <span class="mt-5 h-0.5 w-28 bg-gray-300" />

              <div>
                <h1 class="mb-5 text-3xl font-normal text-gray-700 md:text-4xl">{title}</h1>

                <p class="text-sm font-normal text-gray-500 md:text-base" set:html={description} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
