---
import { Icon } from 'astro-icon';

type Skills = {
  section: string;
  content: {
    name: string;
    level: 'newbie' | 'craftsman' | 'epic';
    description: string;
  }[];
}[];

const skills: Skills = [
  {
    section: 'Frontend',
    content: [
      {
        name: 'TypeScript',
        level: 'epic',
        description:
          'TypeScript is an absolute must, adding a layer of static typing to JavaScript and catching bugs before they even happen. Writing code feels like wielding a powerful weapon against runtime errors. I use it for all my projects because it transforms the chaotic world of JavaScript into a structured and enjoyable experience.',
      },
      {
        name: 'React/Preact & Next.js & Gatsby',
        level: 'epic',
        description:
          'Building user interfaces with React is like conducting a symphony of components. Preact brings the magic to smaller bundles, Next.js orchestrates seamless navigation, and Gatsby transforms websites into performance masterpieces. This combo is my frontend symphony, delivering epic experiences for interactive web apps.',
      },
      {
        name: 'React Native & Expo',
        level: 'epic',
        description:
          "Taking the React magic to the mobile realm, React Native and Expo turn code into cross-platform spells. Crafting one codebase to rule both iOS and Android feels like wizardry. The result? Epic mobile apps, sprinkled with Expo's extra enchantments for a delightful development experience.",
      },
      {
        name: 'Solid',
        level: 'newbie',
        description:
          "Solid is my fresh venture into reactive UI. It’s like exploring a new land with promises of efficient reactivity. As a newbie, I'm excited to unravel its mysteries and witness firsthand how it reshapes the way I build user interfaces using fine-grained reactivity.",
      },
      {
        name: 'Svelte',
        level: 'newbie',
        description:
          "Svelte is my new canvas for painting interactive web apps. The build step becomes an art studio, crafting lightweight and performant applications. As a newbie, I'm eager to embrace its simplicity and see how it streamlines my frontend artistry.",
      },
      {
        name: 'Vue.js',
        level: 'newbie',
        description:
          'Vue.js is my versatile brush for crafting dynamic user interfaces. With its simple and approachable syntax, Vue.js lets me express my frontend creativity effortlessly.',
      },
      {
        name: 'Astro',
        level: 'craftsman',
        description:
          'Astro is my tool for crafting static sites with dynamic capabilities. It’s like building a spaceship that combines the speed of static sites with the power of dynamic components. Astro empowers me to create web experiences that defy the boundaries of traditional static sites.',
      },
    ],
  },
  {
    section: 'Backend',
    content: [
      {
        name: 'Backend - NodeJS',
        level: 'craftsman',
        description:
          "Although it won't win any awards for speed, together with Express/Fastify/Nest and REST/GraphQL/any-RPC, it makes a solid choice for building backend applications. It's like a reliable car that gets me from point A to point B. I use it for simple backend applications that don't require the speed of Rust or the scalability of Go.",
      },
      {
        name: 'Databases - Postgres/MySQL/Vitess/Redis/NoSQL',
        level: 'craftsman',
        description:
          "Databases are the pillars of any data kingdom. Experiments in this realm don't come into place, because who would like to fight with data losses? From the reliability of Postgres and MySQL to the scalability of Vitess and the speed of Redis or simplicity of NoSQL, it wields a diverse arsenal.",
      },
      {
        name: 'Queues - RabbitMQ/Kafka',
        level: 'newbie',
        description:
          'Queues are like backstage pass to asynchronous processing. RabbitMQ and Kafka orchestrate the flow of tasks behind the scenes, allowing distributed systems more resilience and scalability.',
      },
    ],
  },
];
---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <h2 class="mb-5 text-3xl font-medium text-gray-700 dark:text-gray-200">Tech</h2>

    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Here are some of the technologies I've worked that are worth mentioning.
    </p>
    <p class="mb-8 text-base font-normal text-gray-500 dark:text-gray-400">
      I'm always learning new things and experimenting with new technologies, so this list will be (probably) updated
      over time.
    </p>

    <div class="mb-6 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div class="rounded-md bg-gray-50 px-8 py-10 dark:bg-gray-900">
        <h3 class="flex items-center text-xl font-semibold text-gray-600 dark:text-gray-300">
          <Icon name="carbon:skill-level-basic" class="mr-2 h-6 w-6" /> Newbie Zone
        </h3>
        <p class="mb-1 text-base font-normal text-gray-500 dark:text-gray-400">
          Here, I toss in the tech where I'm just getting the hang of things. This is tech i like to play around and
          experiment with. These are the tools I'm still getting comfortable with.
        </p>
      </div>

      <div class="rounded-md bg-gray-50 px-8 py-10 dark:bg-gray-900">
        <h3 class="flex items-center text-xl font-semibold text-gray-600 dark:text-gray-300">
          <Icon name="carbon:skill-level-intermediate" class="mr-2 h-6 w-6" /> Craftsman's Arsenal
        </h3>
        <p class="mb-1 text-base font-normal text-gray-500 dark:text-gray-400">
          This is workshop. Here, I'm honing my skills with tech that feels solid in my hands. These are the tools I
          confidently use to craft my projects. It's not just about trying them out; it's about mastering and creating
          with them.
        </p>
      </div>

      <div class="rounded-md bg-gray-50 px-8 py-10 dark:bg-gray-900">
        <h3 class="flex items-center text-xl font-semibold text-gray-600 dark:text-gray-300">
          <Icon name="carbon:skill-level-advanced" class="mr-2 h-6 w-6" /> Epic Conqueror's Domain
        </h3>
        <p class="mb-1 text-base font-normal text-gray-500 dark:text-gray-400">
          Welcome to the arena, where battle-tested technologies take the stage. In this space, I'm confidently
          deploying the tools that have proven their worth in real-world coding challenges. It's not just about writing
          code; it's about conquering the coding landscape with these tried-and-true tech choices.
        </p>
      </div>
    </div>

    <div class="rounded-md bg-gray-50 px-8 py-10 dark:bg-gray-900">
      {
        skills.map(({ section, content }) => (
          <div class="mb-4">
            <h3 class="flex items-center text-xl font-semibold text-gray-600 dark:text-gray-300">{section}</h3>
            {content.map(({ name, level, description }) => (
              <div class="mb-2">
                <h3 class="flex items-center text-lg font-medium text-gray-600 dark:text-gray-300">
                  {level === 'newbie' && <Icon name="carbon:skill-level-basic" class="mr-1 h-6 w-6" />}
                  {level === 'craftsman' && <Icon name="carbon:skill-level-intermediate" class="mr-1 h-6 w-6" />}
                  {level === 'epic' && <Icon name="carbon:skill-level-advanced" class="mr-1 h-6 w-6" />}
                  {name}
                </h3>
                <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">{description}</p>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
