---
import { Icon } from 'astro-icon';
---

<footer class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <div class="flex items-center justify-center space-x-8">
      <a
        href="https://www.linkedin.com/in/marek-sokol"
        class="flex h-16 w-16 items-center justify-center rounded-full transition duration-500 ease-in-out hover:bg-gray-200">
        <Icon name="mdi:linkedin" class="h-12 w-12" />
      </a>

      <a
        href="https://github.com/TheSoki"
        class="flex h-16 w-16 items-center justify-center rounded-full transition duration-500 ease-in-out hover:bg-gray-200">
        <Icon name="mdi:github" class="h-12 w-12" />
      </a>

      <a
        href="https://TheSoki.github.io"
        class="flex h-16 w-16 items-center justify-center rounded-full transition duration-500 ease-in-out hover:bg-gray-200">
        <Icon name="mdi:web" class="h-12 w-12" />
      </a>

      <a
        href="mailto:devmareksokol@gmail.com"
        class="flex h-16 w-16 items-center justify-center rounded-full transition duration-500 ease-in-out hover:bg-gray-200">
        <Icon name="mdi:email-outline" class="h-12 w-12" />
      </a>
    </div>
  </div>

  <p class="mt-20 text-center text-sm font-normal text-gray-400">
    Built with <a href="https://astro.build">Astro</a>, <a href="https://tailwindcss.com">Tailwind CSS</a> and <Icon
      name="mdi:heart"
      class="inline-block h-4 w-4"
    />.
  </p>
</footer>
