---
import { Icon } from 'astro-icon';
---

<footer class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center">
      <h1 class="font-medium text-gray-700 text-4xl md:text-5xl mb-5">Contact Me</h1>

      <p class="font-normal text-gray-400 text-md md:text-lg mb-20">
        I’m not currently taking on new client work but feel free to contact me for any <br />
         other inquiries.
      </p>

      <div class="flex items-center justify-center space-x-8">
        <a
          href="https://www.linkedin.com/in/marek-sokol"
          class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <Icon name="mdi:linkedin" class="h-12 w-12" />
        </a>

        <a
          href="https://github.com/TheSoki"
          class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <Icon name="mdi:github" class="h-12 w-12" />
        </a>

        <a
          href="https://TheSoki.github.io"
          class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <Icon name="mdi:web" class="h-12 w-12" />
        </a>

        <a
          href="mailto:devmareksokol@gmail.com"
          class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <Icon name="mdi:email-outline" class="h-12 w-12" />
        </a>
      </div>
    </div>
  </div>

  <p class="text-center font-normal text-gray-400 text-xs md:text-sm mt-20">
    Built with <a href="https://astro.build">Astro</a>, <a href="https://tailwindcss.com">Tailwind CSS</a> and <Icon
      name="mdi:heart"
      class="h-4 w-4 inline-block"
    />.
  </p>
</footer>
