---
import { Image } from 'astro:assets';
import logoImage from '@/images/logo.svg';

interface Props {
  hideNav?: boolean;
}

const { hideNav = false } = Astro.props;
---

<section class="py-10 md:py-16">
  <header class="container mx-auto max-w-screen-xl px-4">
    <nav class="flex items-center justify-between">
      <!-- <p class="text-2xl font-medium text-gray-700 md:text-3xl">
        <a href="/"> Marek Sokol</a>
      </p> -->
      <a href="/">
        <Image src={logoImage} alt="Logo" class="w-32 md:w-40" />
      </a>

      {
        !hideNav && (
          <button
            type="button"
            onclick="onClick()"
            class="rounded-md bg-gray-600 px-7 py-3 text-sm font-medium text-gray-200 transition duration-500 ease-linear hover:bg-gray-700 hover:text-gray-50 md:px-9 md:py-4 md:font-semibold">
            Contact me
          </button>
        )
      }
    </nav>
  </header>
</section>

<script is:inline>
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  const onClick = () => {
    window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
  };
</script>
