---
export interface Props {
  hideNav?: boolean;
}

const { hideNav = false } = Astro.props;

const brand = '<Sokol />';
---

<section class="py-10 md:py-16">
  <header class="container max-w-screen-xl mx-auto px-4">
    <nav class="flex items-center justify-between">
      <p class="font-medium text-gray-700 text-2xl md:text-3xl">
        <a href="/">{brand}</a>
      </p>

      {
        !hideNav && (
          <button class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-700 hover:text-white transition ease-linear duration-500">
            Get my CV
          </button>
        )
      }
    </nav>
  </header>
</section>
