---
interface Props {
  hideNav?: boolean;
}

const { hideNav = false } = Astro.props;

const brand = '<Sokol />';
---

<section class="py-10 md:py-16">
  <header class="container mx-auto max-w-screen-xl px-4">
    <nav class="flex items-center justify-between">
      <p class="text-2xl font-medium text-gray-700 md:text-3xl">
        <a href="/">{brand}</a>
      </p>

      {
        !hideNav && (
          <button class="text-md rounded-md bg-white px-7 py-3 font-medium text-gray-700 transition duration-500 ease-linear hover:bg-gray-700 hover:text-white md:px-9 md:py-4 md:font-semibold">
            Get my CV
          </button>
        )
      }
    </nav>
  </header>
</section>
