---
import ThemeIcon from './ThemeIcon.astro';

const brand = '< Sokol  />';
---

<section class="py-10 md:py-16">
  <header class="container mx-auto max-w-screen-xl px-4">
    <nav class="flex items-center justify-between">
      <p class="font-mono text-2xl font-medium text-gray-700 dark:text-gray-200 md:text-3xl md:font-semibold">
        <a href="/">{brand}</a>
      </p>

      <ThemeIcon />
    </nav>
  </header>
</section>
